/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
    font-size: 18px;
}

html, body {
    background-color: #fff9fb;
    background-image: url(../images/paper.png);
    font-family: 'Libre Baskerville', serif;
}



h1 {
    text-align: center;
    margin-bottom: 5rem;
    padding-top: 2rem;
}


/* Form Settings */
#form-container {
    display: flex;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    width: 100%;
    box-sizing: border-box;
}

#book-form {
    text-align: center;
}

#book-form input{
    padding: 0.3rem;
    border-radius: 3%;
    border: none;
}

#book-form > * {
    padding-right: 2rem;
}

#book-pages {
    width: 5%;
}

#book-form button{
    background-color: #81c4ae;
    padding: 0.4em;
    border-radius: 5%;
    border: none;
    cursor: pointer;
}



/* Book Table */
#books-container {
    overflow-x: auto;
}

#library-table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    margin-top: 3rem;
    margin-bottom: 4rem;
    box-shadow: 0 0 5px #c9c5cb;
}

thead th:nth-child(1) {
    width: 40%;
  }
  
thead th:nth-child(2) {
    width: 30%;
  }
  
thead th:nth-child(3) {
    width: 10%;
  }
  
thead th:nth-child(4) {
    width: 10%;
  }

thead th:nth-child(5) {
    width: 10%;
  }

th, td {
    padding: 20px;
  }

#table-header > *{
      background-color: #81c4ae;
  }

tr:nth-child(odd) {
    background-color: #eafffd;
  }

tr:nth-child(even) {
    background-color: #c2efeb;
  }

th:hover {
      cursor: pointer;
  }

.pages, .read {
      text-align: center;
  }

.removeButton {
      background-image: url(../images/removeicon.png);
      background-size: contain;
      background-position: center;
      background-color: transparent;
      border: none;
      width: 30px;
      height: 30px;
      display: block;
      margin: auto;
  }

.read:hover, .removeButton:hover {
    cursor: pointer;
}


/* Empty Library Message */
#empty-library {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}
  

/* Statistics Container Settings */
#stats-container {
    background-image: url(../images/paper.png);
}

#stats {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(9, auto);
    grid-template-areas: 
    "title title";
    width: 100%;
    padding: 1rem 20vw 1rem 20vw;
    box-sizing: border-box;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 26, 27, 0.9);
    color: snow;
    row-gap: 1rem;
}

#h1-container {
    grid-area: title;
}

#stats >* {
    justify-self: center;
    text-align: center;
}


/* Media Queries */
@media (max-width: 1283px) {

    #book-form > *{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    #book-pages {
        width: 30%;
    }

    #book-form input {
        margin-bottom: 0.5rem;
        margin-top: 0.3rem;
    }

    #stats {
        padding: 1rem 5vw 1rem 5vw;
    }
}